<div class="container">
    <h3 style="font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;" 
    class="d-flex justify-content-center">Student Information System</h3>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="/department" class="m-1 btn btn-light btn-outline-primary">Department</button>
        </li>
        <li class="nav-item">
          <button routerLink="/student" class="m-1 btn btn-light btn-outline-primary">Student</button>
        </li>       
      </ul>
      <button style="color:orangered;" routerLink="/login" class=" nav-item d-flex ms-auto order-5 m-1 btn">LogOut</button>
             
    </nav>
  </div>
